@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: #111;
  background-color: #fefefe;

  /* font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace; */
}
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #111;
  }
}
#root {
  min-height: 100vh;
}

/* for react-collapse */
.ReactCollapse--collapse {
  transition: height 500ms;
}
