@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  min-height: 100vh;
}

/* for react-collapse */
.ReactCollapse--collapse {
  transition: height 500ms;
}

/* SCROLLBAR */
body {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
